:root {
  /* Colores */
  --red: hsl(7, 100%, 68%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 85%);
  --dark-grey: hsl(0, 0%, 14%);
  --green: hsl(153, 71%, 59%);
  --black: hsl(0, 0%, 8%);
  --blur: hsl(0, 0%, 0%, 0.75);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk", sans-serif;
  animation: smoothScrollDocument 1s;
  overflow: hidden scroll;
  text-size-adjust: none;
}

html:focus-within {
  animation-name: smoothScrollPage;
  scroll-behavior: smooth;
}

img:not(.background-image, .icon-error) {
  height: auto;
  width: 100%;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--black);
  line-height: 1.5;
  overflow: hidden;
  scrollbar-width: none;
}

.sr-only {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  border-width: 0;
  width: 1px;
  height: 1px;
  left: -1000px;
  top: auto;
  margin: -1px;
  padding: 0px;
}

form {
  font-size: clamp(1rem, calc(0.96rem + 0.19vw), 1.13rem);
  font-style: normal;
  font-weight: 500;
  position: relative;
}

input,
textarea {
  background-color: transparent;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--white);
  padding-inline-start: 1.5rem;
  color: var(--white);
  font: inherit;
  line-height: 2;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid var(--green);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  font: inherit;
  text-transform: uppercase;
  color: inherit;
}

ul,
ul[role="list"] {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-style: normal;
}

div[class~="section-container"],
.nav {
  width: min(90%, 1150px);
  margin-inline: auto;
}

